body {
  background-color: #e5eaf5;
  font-family: sans-serif;
}
h3 {
  text-align: center;
  color: #494d5f;
  font-size: 20px;
  margin-top: 20px;
}
form {
  width: 795px;
  margin: 20px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  width: 50%;
  color: white;
  background-color: #8458b3;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
}

form > div {
  width: 48%;
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 40%;
  font-weight: 400;
  font-size: 13px;
  color: #494d5f;
}
.gender-container {
  font-size: 16px;
}

input,
select {
  width: 55%;
  padding: 7px 10px;
  border: 1px solid #a0d2eb;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
  color: #494d5f;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

label[for="terms"] {
  display: inline;
  font-size: 13px;
  color: #494d5f;
}

button {
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  background-color: #8458b3;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #722fad;
}

.main-container {
  min-width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: background-color 0.4s ease;
}

.button-container {
  display: flex;
  gap: 12px;
  background-color: white;
  padding: 12px 20px;
  border-radius: 35px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  transition:0.3s ease;
  transform: scale(1.08);
  opacity: 0.8;
}
